# Praktikum 1

## Praktikum 12 Februari 2019

In [1]:
#List
fruits = []
fruits = ["apple","banana"]
another_list = ["this is string", 10]

print(fruits)
print(another_list)

combined=[fruits, another_list]
print(combined)

['apple', 'banana']
['this is string', 10]
[['apple', 'banana'], ['this is string', 10]]

In [2]:
#add element
fruits = ["apple","banana"]
fruits.append("orange")
print(fruits)

['apple', 'banana', 'orange']

In [3]:
fruits= fruits+["mango"]
print(fruits)

['apple', 'banana', 'orange', 'mango']

In [4]:
# Tuple 
# mirip dengan list 
# perbedaan : tidak bisa ditambahkan isinya , harus satu jenis type data, pake kurung biasa

coordinate = (0, 5)
colors = ("red", "green", "blue")
print (coordinate)
print (colors)

(0, 5)
('red', 'green', 'blue')

In [5]:
## Data Integration
import pandas as pd
import numpy as np

In [6]:
# merging
left = pd.DataFrame({'key': ['K0', 'K1','K2','K3'],
                    'A' :['A0','A1','A2','A3'],
                    'B':['B0','B1','B2','B3']})
right = pd.DataFrame({'key': ['K0','K1','K2','K3'],
                     'C': ['C0','C1','C2','C3'],
                     'D': ['D0','D1','D2','D3']})
result1 = pd.merge(left, right, on ='key')
result1.head()

  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1
2  K2  A2  B2  C2  D2
3  K3  A3  B3  C3  D3

In [7]:
left = pd.DataFrame({'key1': ['K0', 'K0','K1','K2'],
                     'key2': ['K0', 'K1','K0','K1'],
                    'A' :['A0','A1','A2','A3'],
                    'B':['B0','B1','B2','B3']})
right = pd.DataFrame({'key1': ['K0','K1','K1','K2'],
                      'key2': ['K0', 'K0','K0','K0'],
                     'C': ['C0','C1','C2','C3'],
                     'D': ['D0','D1','D2','D3']})
result2 = pd.merge(left, right, on =['key1','key2'])
result2.head()

  key1 key2   A   B   C   D
0   K0   K0  A0  B0  C0  D0
1   K1   K0  A2  B2  C1  D1
2   K1   K0  A2  B2  C2  D2

In [8]:
result3 = pd.concat([left, right], sort=False)

In [9]:
print(result3)

  key1 key2    A    B    C    D
0   K0   K0   A0   B0  NaN  NaN
1   K0   K1   A1   B1  NaN  NaN
2   K1   K0   A2   B2  NaN  NaN
3   K2   K1   A3   B3  NaN  NaN
0   K0   K0  NaN  NaN   C0   D0
1   K1   K0  NaN  NaN   C1   D1
2   K1   K0  NaN  NaN   C2   D2
3   K2   K0  NaN  NaN   C3   D3

In [10]:
import pandas as pd
import numpy as np

In [19]:
data1 = pd.read_csv("E:\dataa1.csv", sep=";")
data2 = pd.read_csv("E:\dataa2.csv",sep=";")

datagabung = pd.merge(data1, data2, on ='key')
datagabung.head()
data3 = pd.concat([data1,data2],sort=False)
data3.head(10)

   key     A      B      C     D
0    0  asad  sdfef    NaN   NaN
1    1    sd   sdsd    NaN   NaN
2    2   sds   fgef    NaN   NaN
3    3     f   sdsd    NaN   NaN
4    4  dfda   adad    NaN   NaN
5    5    ds   fsfs    NaN   NaN
6    6    xs    ddq    NaN   NaN
7    7    ds   dsds    NaN   NaN
0    0   NaN    NaN  fsfsf  dsds
1    1   NaN    NaN     ef  fdsf

In [12]:
#export 
datagabung.to_csv("datagabung.csv")

In [15]:
#concat
df1 = pd.DataFrame({'A' : ['A1','A2','A3','A4'],
                   'B': ['B1','B2','B3','B4']})
df2 = pd.DataFrame({'A' : ['A5','A6','A7','A8'],
                   'B': ['B5','B6','B7','B8']})
df3 = pd.DataFrame({'A' : ['A9','A10','A11','A12'],
                   'B': ['B9','B10','B11','B12']})
result = pd.concat([df1,df2,df3])
result.head()

    A   B
0  A1  B1
1  A2  B2
2  A3  B3
3  A4  B4
0  A5  B5